@import "./Scss/base/_colors";

.grid {
  @media only screen and (max-width: 37.5em) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.linktags {
  // display: flex;
  // flex-wrap: wrap;
  h1 {
    // display: inline-block;
    margin: 0;
    text-align: center;
  }
}
.App {
  display: flex;

  header {
    flex-basis: 90%;
  }
}
